[submodule "submodules/lacework-control-tower-cfn"]
	path = submodules/lacework-control-tower-cfn
	url = https://github.com/lacework-alliances/lacework-control-tower-cfn.git
[submodule "submodules/aws-security-reference-architecture-examples"]
	path = submodules/aws-security-reference-architecture-examples
	url = https://github.com/aws-samples/aws-security-reference-architecture-examples.git
